<section class="container">
    <div class="grid grid--1x2 hero">
      <div class="hero__content">
        <h1>The Design Thinking Superpowers</h1>
        <p>
          Tools tutorials, design and innovation experts, all in one place!
          The most intuitive way to imagine your next user experience.
        </p>
        <a class="btn btn--primary btn--streched" href="#">Get Started</a>
        <a class="link" href="#"
          ><i class="fa-solid fa-play"></i> Watch the Video</a
        >
      </div>
      <img src="images/hero-img (1).png" alt="" />
    </div>
  </section>