<section class="feature">
    <div class="container">
      <h1 class="feature__heading">
        We design tools to unveil your superpowers
      </h1>
      <div class="grid grid--1x2-2 grid--1x4 feature__content">
        <div>
          <span class="icon-container icon-container--purple">
            <svg class="icon">
              <use xlink:href="images/sprite3.svg#pointer"></use>
            </svg>
          </span>
          <h3>First click tests</h3>
          <p>While most people enjoy casino gambling</p>
        </div>
        <div>
          <span class="icon-container icon-container--yellow">
            <svg class="icon">
              <use xlink:href="images/sprite3.svg#survey"></use>
            </svg>
          </span>
          <h3>Design surveys</h3>
          <p>Sports betting,lottery and bingo playing for the fun</p>
        </div>
        <div>
          <span class="icon-container icon-container--red">
            <svg class="icon">
              <use xlink:href="images/sprite3.svg#heart"></use>
            </svg>
          </span>
          <h3>Preference tests</h3>
          <p>The Myspace page defines the individual.</p>
        </div>
        <div>
          <span class="icon-container icon-container--blue">
            <svg class="icon">
              <use xlink:href="images/sprite3.svg#timer"></use>
            </svg>
          </span>
          <h3>Five second tests</h3>
          <p>Personal choices and the overall personality of the person.</p>
        </div>
      </div>
      <a class="btn btn--primary btn--streched" href="#">SIGN UP NOW</a>
    </div>
  </section>