<ul class="list">
    <li class="list__item"><div style="margin-right: 2rem;" class="icon-tick-container">
      <span class="icon-container icon-container--tick">
        <svg class="icon icon--small">
          <use xlink:href="images/sprite3.svg#tick"></use>
        </svg>
      </span>
    </div>Never worry about overpaying for your
    energy again.</li>
    <li class="list__item"><div style="margin-right: 2rem;" class="icon-tick-container">
      <span class="icon-container icon-container--tick">
        <svg class="icon icon--small">
          <use xlink:href="images/sprite3.svg#tick"></use>
        </svg>
      </span>
    </div>We will only switch you to energy companies
    that we trust and will treat you right</li>
    <li class="list__item"><div style="margin-right: 2rem;" class="icon-tick-container">
      <span class="icon-container icon-container--tick">
        <svg class="icon icon--small">
          <use xlink:href="images/sprite3.svg#tick"></use>
        </svg>
      </span>
    </div>We track the markets daily and know where the
    savings are.</li>
  </ul>
  <ul class="list">
    <li><a class="link--none" href="#">About us</a></li>
    <li><a class="link--none" href="#">Blog</a></li>
    <li><a class="link--none" href="#">Contact</a></li>
    <li><a class="link--none" href="#">FAQ</a></li>
  </ul>
  